.img-about {
    background-image: url('../img/about-img.jpg');
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.head-about {
    color: white;
    font-size: 3rem;
}

h1 {
    text-align: center;
    font-size: 30px;
    text-shadow: 0 2px 2px #000000;
    font-family: 'Cinzel', serif;
    text-transform: capitalize;
    padding-top: 235px;
}

.para {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.para_other {
    word-spacing: 5px;
    font-family: 'Edu SA Beginner', cursive;
}