.end-tittle {
    text-align: center;
    font-size: 30px;
    text-shadow: 0 2px 2px #000000;
    font-family: 'Cinzel', serif;
    text-transform: capitalize;
    padding-top: 235px;
}

.calling {
    /* width: 33%  ; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-tittle {
    color: white;
    font-size: 3rem;
}

.reception {
    background-image: url('../img/contact.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
}

.num {
    margin: -30px;
    margin-left: 150px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 400px;
    padding: 0px 50px;
    align-items: center;
    margin-left: 500px;
}

.f1 {
    background-color: white;
    color: black;
}

.col-sm-6col-md-3item2 {
    margin-left: 200px;
}

.container-2 {
    margin: auto;
    max-width: 1120px;
    height: 350px;
}

.icon_1 {
    /* padding: 25px; */
    background-color: rgb(236, 157, 9);
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: black;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.contact_A,
.contact_B,
.contact_c {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.num {
    font-size: 18px;
}

.address {
    margin-left: 325px;
    margin-top: -125px;
}

.mail {
    text-align: center;
    margin-right: -500px;
    margin-top: -125px;
}