* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --navbar-height: 30px;
}


/* Navigation Bar */

.book-btn a {
    text-decoration: none;
    color: black;
}

#navbar {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

#navbar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(56, 53, 53);
    z-index: -1;
    opacity: 1.7;
}


/* Logo and Image */

#logo {
    margin-left: 25px;
    font-family: 'Cinzel', serif;
    font-size: 1.50rem;
    font-weight: bold;
    color: white;
}

a {
    text-decoration: none;
}

#logo h3 a {
    text-decoration: none;
    color: white;
}

.img-logo {
    /* position: fixed; */
    /* margin-top: 5px; */
    padding-left: 50px;
    margin: 0;
}

#logo img {
    height: 50px;
    left: 20px;
}


/* List styling */

#navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#navbar ul li {
    list-style: none;
    font-size: 20px;
    font-family: serif;
}

#navbar ul li a {
    display: block;
    padding: 3px 10px;
    margin: 3px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(230, 222, 222);
}

#navbar ul li a:hover {
    color: white;
}

.img-reserve {
    background-image: url("../img/register.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
}

h1 {
    text-align: center;
    font-size: 30px;
    text-shadow: 0 2px 2px #000000;
    font-family: 'Cinzel', serif;
    text-transform: capitalize;
    padding-top: 235px;
}

.head-reserve {
    color: white;
    font-size: 3rem;
}

h1 {
    font-size: 30px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    text-align: center;
}

.Data-input {
    border: 2px solid rgb(32, 12, 12);
    border-radius: 5px;
    font-family: 'Cinzel', serif;
    color: black;
}

#form-reg {
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.btn-reg:hover {
    background-color: rgb(241, 34, 7);
}

.room-booking {
    border: 2px solid rgb(32, 12, 12);
    border-radius: 4px;
}

.room-type {
    border: 2px solid rgb(32, 12, 12);
    border-radius: 4px;
}

.btn-book {
    height: 45px;
    width: 120px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
}

.btn-book:hover {
    background-color: rgb(76, 76, 241);
}

.form-control {
    border: 2px solid black;
}

span {
    font-family: 'Cinzel', serif;
    font-weight: bold;
}